
body{
    border: 1px solid red;
}
#output {
    font-size: 30px;
}

#btndeal, #myactions  {
display: none;
}

.btn {
    border-radius: 5px;
    padding:8px 20px;
    color: white;
    display: inline-block;
    text-align: center;
    text-shadow: 1px 1px #000000;
    font: normal 700 24px/1 "calibri", sans-serif;
}
.clubs, .spades {
    color: black;
}

.hearts, .diams {
    color: red;
}


#cover {
    height: 160px;
    width: 120px;
    background-color: red;
    border-radius:10px;
    position: absolute;
    border: 1px solid black;
    padding: 3px;
}

.icard {
    height: 160px;
    width: 120px;
    padding: 3px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: 100px;
    display:inline-block;
    font-family: 'lato';
}

.hearts .suit::after {
    content: '\2665';
  }

  .diams .suit::after {
    content: '\2666';
  }

  .spades .suit::after {
    content: '\2660';
  }

  .clubs .suit::after {
    content: '\2663';
  }

  .top-card {
    font-size: 30px;
    line-height: 25px;
    left: 2px;
    top: 2px;
  }

  .content-card {
    text-align: center;
    font-size: 50px;
  }

  .bottom-card {
    font-size: 30px;
    line-height: 25px;
    right: 2px;
    bottom: 2px;
    transform: rotate(-180deg);
  }

  #dealerHolder, #playerHolder {
      height: 180px;
      width: 500px;
  }

  #message {
      height: 70px;
      font-size: 30px;
      text-align: center;
  }

  #btnhold{
      background-color: green;

  }

  #btnhit {
      background-color: red;
 }

 #maxbet {
     background-color: red;
 }

 #btndouble {
     background-color: blue;
 }
#startbtn {
    background-color: black;
}

#btndeal{
    background-color: green;
}

.total {
    font-size: 30px;
}