
h1 {
   text-align: center;
   color: rgba(255, 0, 0, 0.3);
   font-family: 'Monoton';
   font-weight: 30px;
   animation: neon1 3s ease-in-out infinite alternate;
   font-size: 70px;
  background-image: url("../images/giphy.gif");
  background-size: 700px 400px;
  background-repeat: no-repeat;
  background-position: center;
   
   
 }


@keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
  }
  @keyframes nblue2 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
  }
@keyframes neon3 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #41FF11, 0 0 70px #41FF11, 0 0 80px #41FF11, 0 0 100px #41FF11, 0 0 150px #41FF11;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #41FF11, 0 0 35px #41FF11, 0 0 40px #41FF11, 0 0 50px #41FF11, 0 0 75px #41FF11;
    }

} 

@keyframes orange {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FA8703, 0 0 70px #FA8703, 0 0 80px #FA8703, 0 0 100px #FA8703, 0 0 150px #FA8703;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FA8703, 0 0 35px #FA8703, 0 0 40px #FA8703, 0 0 50px #FA8703, 0 0 75px #FA8703;
    }

}  


body{
  background-color: black;
 
}
#output {
    font-size: 30px;
    font-family: 'Iceland', cursive;
    color: white;
    animation: neon1 1.5s ease-in-out infinite alternate;
}



#btndeal, #myactions  {
display: none;
}

.btn {
    border-radius: 5px;
    padding:8px 20px;
    color: white;
    display: inline-block;
    text-align: center;
    text-shadow: 1px 1px #000000;
    font: normal 700 24px/1 "calibri", sans-serif;
}
.clubs, .spades {
    font-size: 1.5em;
    color: #228DFF;
    font-family: Iceland;
    -webkit-animation: nblue2 1.5s ease-in-out infinite alternate;
    -moz-animation: nblue2 1.5s ease-in-out infinite alternate;
    animation: nblue2 1.5s ease-in-out infinite alternate;
}
  
    

.hearts, .diams {
    color: #921D0E;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
}


#cover {
    height: 160px;
    width: 120px;
    background-color: black;
    border-radius:10px;
    position: absolute;
   
    padding: 3px;
    border: 3px solid white;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
    margin: 0 515px;
}

.icard {
    height: 160px;
    width: 120px;
    padding: 3px;
    border: 3px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position: absolute;
    left: 100px;
    display:inline-block;
    font-family: 'lato';
    margin: 0 515px;
}

.hearts .suit::after {
    content: '\2665';
  }

  .diams .suit::after {
    content: '\2666';
  }

  .spades .suit::after {
    content: '\2660';
  }

  .clubs .suit::after {
    content: '\2663';
  }

  .top-card {
    font-size: 30px;
    line-height: 25px;
    left: 2px;
    top: 2px;
  }

  .content-card {
    text-align: center;
    font-size: 50px;
  }

  .bottom-card {
    font-size: 30px;
    line-height: 25px;
    right: 2px;
    bottom: 2px;
    transform: rotate(-180deg);
  }

  #dealerHolder, #playerHolder {
      height: 180px;
      width: 500px;
  }

  #message {
      height: 90px;
      font-size: 25px;
      text-align: center;
      font-family: 'Raleway', sans-serif;
      
      
  }

  #btnhold{
      background-color: black;
      border: 1px solid green;
      animation: neon3 .5s ease-in-out infinite alternate;
      font-family: 'Iceland', cursive;
      

  }

  #btnhit {
      background-color: black;
      border: 1px solid red;
      animation: neon1 .5s ease-in-out infinite alternate;
      font-family: 'Iceland', cursive;
      
 }

 #mybet {
    font-size: 20px;
    font-family: 'Iceland', cursive;
    width: 80px;
    height: 20px;
    
}
#betamount {
    font-size: 25px;
    font-family: 'Iceland', cursive;
     color: white;
}
 #maxbet {
     background-color: black;
    border: 1px solid red;
    font-family: 'Iceland', cursive;
    animation: neon1 .5s ease-in-out infinite alternate;
    font-size: 20px;
    
 }

 #btndouble {
     background-color: black;
     border: 1px solid blue;
     animation: nblue2 .5s ease-in-out infinite alternate;
     font-family: 'Iceland', cursive;
     
 }
#startbtn {
    background-color: black;
    border: 1px #FA8703;
    animation: orange .2s ease-in-out infinite alternate;
    cursor: hand;
    font-family: 'Iceland', cursive;
    font-size: 50px;
  
}

#btndeal{
    background-color: black;
  border: 1px solid green;
  animation: neon3 .5s ease-in-out infinite alternate;
  margin: 16px 12px;
  margin-right: 29px;
  font-family: 'Iceland', cursive;
  
}

.total {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-family: 'Iceland', cursive;
    
    color: white;
    
    
}